<a href="https://colab.research.google.com/github/tom2rd/Googlecolabutils/blob/master/kodaira_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 小平市の情報スクレイピング
* 市役所　統計情報
 * https://www.city.kodaira.tokyo.jp/kurashi/076/076079.html
* 企業情報
 * http://keishin.ullet.com/search/city/13211/pref/13.html#pref/13/city/13211

In [0]:
import requests
from bs4 import BeautifulSoup
import re
# Webページを取得して解析する
load_url = "https://www.city.kodaira.tokyo.jp/kurashi/076/076079.html"
load_urlo="http://keishin.ullet.com/search/city/13211/pref/13.html#pref/13/city/13211"
html = requests.get(load_urlo)
soup = BeautifulSoup(html.content, "html.parser")
#alists=soup.find_all('a')
#alists
print(soup.find_all('a', class_="company_name"))
print(soup.find_all('a',text=re.compile("P.")))

In [199]:
load_url = "https://www.city.kodaira.tokyo.jp/kurashi/076/076079.html"
load_urlo="http://keishin.ullet.com/search/city/13211/pref/13.html#pref/13/city/13211"
html = requests.get(load_url)
soup = BeautifulSoup(html.content, "html.parser")
alists=soup.find_all('a',href=re.compile("/kurashi/076/"))
#print(alists)
urlists=[]
titlelists=[]
for alist in alists:
 #print(alist.attrs["href"],alist.text)
 urlists.append(alist.attrs["href"])
 titlelists.append(alist.text)
print(urlists)
print(titlelists)
#print(soup.find_all('a', class_="company_name"))
#print(soup.find_all('a',text=re.compile("P.")))

['/kurashi/076/076081.html', '/kurashi/076/076067.html', '/kurashi/076/076068.html', '/kurashi/076/076069.html', '/kurashi/076/076070.html', '/kurashi/076/076071.html', '/kurashi/076/076072.html', '/kurashi/076/076073.html', '/kurashi/076/076074.html', '/kurashi/076/076075.html', '/kurashi/076/076076.html', '/kurashi/076/076077.html', '/kurashi/076/076078.html']
['表紙', '自然条件 ', '人口 ', '産業 ', '経済・労働 ', '交通・通信 ', '都市施設 ', '保健衛生及び環境 ', '社会福祉 ', '教育 ', '治安・防災 ', '議会・選挙', '行財政']

In [20]:
load_url="https://www.city.kodaira.tokyo.jp/kurashi/076/076068.html"
html = requests.get(load_url)
soup = BeautifulSoup(html.content, "html.parser")
alists=soup.find_all('a',class_="icon_excel")
alists

In [202]:
orig_url="https://www.city.kodaira.tokyo.jp"
xlslists=[]
for lo_url in urlists:
 load_url=orig_url+lo_url
 #print(load_url)
 html = requests.get(load_url)
 soup = BeautifulSoup(html.content, "html.parser")
 alists=soup.find_all('a',class_="icon_excel")
 for i in alists:
  xlslists.append(orig_url+i.attrs["href"])
xlslists

['https://www.city.kodaira.tokyo.jp/kurashi/files/76067/076067/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76068/076068/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76069/076069/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76070/076070/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76071/076071/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76072/076072/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76073/076073/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76074/076074/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76075/076075/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76076/076076/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76077/076077/att_0000001.xlsx',
 'https://www.city.kodaira.tokyo.jp/kurashi/files/76078/076078/att_0000001.xlsx']

In [75]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [156]:
!wget https://www.city.kodaira.tokyo.jp/kurashi/files/76078/076078/att_0000001.xlsx

--2019-11-19 04:42:51--  https://www.city.kodaira.tokyo.jp/kurashi/files/76078/076078/att_0000001.xlsx
Resolving www.city.kodaira.tokyo.jp (www.city.kodaira.tokyo.jp)... 210.140.79.20
Connecting to www.city.kodaira.tokyo.jp (www.city.kodaira.tokyo.jp)|210.140.79.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 106970 (104K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘att_0000001.xlsx’

att_0000001.xlsx    100%[===================>] 104.46K  --.-KB/s    in 0.1s

2019-11-19 04:42:52 (926 KB/s) - ‘att_0000001.xlsx’ saved [106970/106970]

In [166]:
xls=pd.read_excel('att_0000001.xlsx',sheet_name=None,header=None)
xls['P228.229']

                     0        1     2   ...       20          21                22
0   198．図書館の分類別所蔵            NaN   NaN  ...      NaN         NaN               NaN
1                   NaN      NaN   NaN  ...      NaN         NaN            平成29年度
2                 分　　　類      NaN   NaN  ...      NaN         NaN               NaN
3                   NaN      NaN   NaN  ...  構　 成　 比         NaN               NaN
4               総　　　　　数      NaN   NaN  ...      NaN           1               NaN
5                   NaN      NaN   NaN  ...      NaN         NaN               NaN
6             総　 　記　 　類      NaN   NaN  ...      NaN     　　　 0.5               NaN
7                哲学・宗教等      NaN   NaN  ...      NaN         0.5               NaN
8                歴史・地理学      NaN   NaN  ...      NaN         1.3               NaN
9                 社会・教育      NaN   NaN  ...      NaN         2.0               NaN
10                 自然科学      NaN   NaN  ...      NaN         4.8               NaN
11                工業・家事      NaN   NaN  ...      NaN         2.0               NaN
12            産　  　　　　業      NaN   NaN  ...      NaN         2.0               NaN
13              芸術・スポーツ      NaN   NaN  ...      NaN         3.3               NaN
14             語　 　　　　学      NaN   NaN  ...      NaN         0.4               NaN
15            文　　   　　学      NaN   NaN  ...      NaN        22.8               NaN
16          地 域 行 政 資 料      NaN   NaN  ...      NaN           ―               NaN
17            雑　　　　  　誌      NaN   NaN  ...      NaN           ―               NaN
18            視 聴 覚 資 料      NaN   NaN  ...      NaN           ―               NaN
19            絵　　  　　　本      NaN   NaN  ...      NaN        58.6               NaN
20            紙　 　芝　 　居      NaN   NaN  ...      NaN         1.7               NaN
21            そ　 　の　 　他      NaN   NaN  ...      NaN         0.1               NaN
22                  NaN      NaN   NaN  ...      NaN         NaN  資料：図書館事業概要、中央図書館
23                  NaN      NaN   NaN  ...      NaN         NaN               NaN
24                  NaN      NaN   NaN  ...      NaN         NaN               NaN
25                  NaN      NaN   NaN  ...      NaN         NaN               NaN
26  199．図 書 館 別 貸            NaN   NaN  ...      NaN         NaN               NaN
27                  NaN      NaN   NaN  ...      NaN         NaN               NaN
28                  年　度    総　　　数   NaN  ...      NaN         NaN               その他
29                  NaN      NaN   NaN  ...     小  川         上水南               NaN
30                  NaN    貸出資料数  １日平均  ...    貸出資料数       貸出資料数             貸出資料数
31                  NaN      NaN   NaN  ...      NaN         NaN               NaN
32                平成25年  1509053  5186  ...    14670        9668                 －
33                   26  1486861  5109  ...    14304        7915             85378
34                   27  1573185  5337  ...    14614        8305             94903
35                   28  1545789  5278  ...    13128        9576             99501
36                   29  1517898  5158  ...    11227       10604            104728
37                  NaN      NaN   NaN  ...      NaN         NaN               NaN
38                  NaN      NaN   NaN  ...      NaN         NaN               NaN
39                  NaN      NaN   NaN  ...      NaN         NaN               NaN
40                  NaN      NaN   NaN  ...      NaN         NaN               NaN
41                  NaN      NaN   NaN  ...      NaN         NaN               NaN
42                  NaN      NaN   NaN  ...      NaN         NaN               NaN
43                  NaN      NaN   NaN  ...      NaN         NaN               NaN

[44 rows x 23 columns]



```
# ダウンロード（読み込み + ローカル保存）
# ダウンロードして rss.xml というファイル名で保存する例
import requests
 
url = 'https://it-engineer-lab.com/feed'
try:
    r = requests.get(url)
    with open('rss.xml', mode='w') as f:
        f.write(r.text)
except requests.exceptions.RequestException as err:
    print(err)
```

In [170]:
xls['P202.203'].loc[2]

0                 年　度
1              総　　　　額
2              市　　　　税
3               地方譲与税
4              利子割交付金
5              配当割交付金
6             株式等譲渡所得
7      地方消費税\n交  付  金
8              ゴルフ場利用
9     自動車取得税\n交  付  金
10            地方特例交付金
11          地 方 交 付 税
12             交通安全対策
Name: 2, dtype: object

In [171]:
xls['P202.203'].iloc[2]

0                 年　度
1              総　　　　額
2              市　　　　税
3               地方譲与税
4              利子割交付金
5              配当割交付金
6             株式等譲渡所得
7      地方消費税\n交  付  金
8              ゴルフ場利用
9     自動車取得税\n交  付  金
10            地方特例交付金
11          地 方 交 付 税
12             交通安全対策
Name: 2, dtype: object

In [172]:
xls['P202.203'].describe()

          0       1         2       3   ...      9        10  11     12
count     23      22        22      22  ...      22       22  24     13
unique    12      22        22      22  ...      22       22  15     13
top       26  498591  30728110  257214  ...  450303  2300328   ―  24413
freq       2       1         1       1  ...       1        1  10      1

[4 rows x 13 columns]

In [203]:
xls['P202.203'][2:16]

            0         1         2   ...       10         11      12
2          年　度    総　　　　額    市　　　　税  ...  地方特例交付金  地 方 交 付 税  交通安全対策
3          NaN       NaN       NaN  ...      NaN        NaN   特別交付金
4          NaN       NaN       NaN  ...      NaN        NaN     NaN
5   平成20年       53330270  30477029  ...   363278      94701   26689
6           21  54973740  29436323  ...   346768     124852   26652
7           22  56234541  28645582  ...   289393    1407175   24413
8           23  58193238  29023950  ...   361460    1906862   24168
9           24  61987261  29991347  ...   141806    1713857   25026
10          25  60636386  30728110  ...   155275    1371237   23880
11          26  61397274  31017094  ...   145967     901085   20496
12          27  62732331  30683315  ...   148177     748311   20987
13          28  63172870  30644748  ...   139058     533874   18963
14          29  64143676  31171062  ...   173761     799355   18125
15         NaN       NaN       NaN  ...      NaN        NaN     NaN

[14 rows x 13 columns]

In [177]:
xls['P201']

           0                1            2  ...           6   7    8
0   １．財    政              NaN          NaN  ...         NaN NaN  NaN
1        NaN              NaN          NaN  ...         NaN NaN  NaN
2        NaN              NaN          NaN  ...         NaN NaN  NaN
3        NaN  182．各会計別歳入歳出決算額          NaN  ...         NaN NaN  NaN
4        NaN              NaN          NaN  ...      （単位：円） NaN  NaN
5        年　度       一  般  会  計          NaN  ...         NaN NaN  NaN
6        NaN              NaN          NaN  ...         NaN NaN  NaN
7        NaN            歳入決算額        歳出決算額  ...       歳出決算額 NaN  NaN
8        NaN              NaN          NaN  ...         NaN NaN  NaN
9      平成24年      61987261100  59628682373  ...  4077160899 NaN  NaN
10        25      60636386303  57757638582  ...  3945223569 NaN  NaN
11        26      61397274275  60139563173  ...  3802960901 NaN  NaN
12        27      62732331242  61550329738  ...  3662405978 NaN  NaN
13        28      63172869503  61529884883  ...  4083571020 NaN  NaN
14        29      64143675556  62596977009  ...  4133462067 NaN  NaN
15       NaN              NaN          NaN  ...         NaN NaN
16       NaN              NaN          NaN  ...         NaN NaN  NaN
17       NaN              NaN          NaN  ...         NaN NaN  NaN
18       NaN              NaN          NaN  ...         NaN NaN  NaN
19       年　度      後期高齢者医療特別会計          NaN  ...         NaN NaN  NaN
20       NaN            歳入決算額        歳出決算額  ...         NaN NaN  NaN
21       NaN              NaN          NaN  ...         NaN NaN  NaN
22     平成24年       3463145090   3395287547  ...         NaN NaN  NaN
23        25       3513932427   3468874582  ...         NaN NaN  NaN
24        26       3780167549   3730480095  ...         NaN NaN  NaN
25        27       3830655414   3790719873  ...         NaN NaN  NaN
26        28       3988497550   3939958911  ...         NaN NaN  NaN
27        29       4074533207   4041163314  ...         NaN NaN  NaN
28       NaN              NaN          NaN  ...         NaN NaN  NaN
29       NaN              NaN          NaN  ...         NaN NaN  NaN

[30 rows x 9 columns]

In [204]:
!wget https://www.city.kodaira.tokyo.jp/kurashi/files/76068/076068/att_0000001.xlsx

--2019-11-19 05:48:55--  https://www.city.kodaira.tokyo.jp/kurashi/files/76068/076068/att_0000001.xlsx
Resolving www.city.kodaira.tokyo.jp (www.city.kodaira.tokyo.jp)... 210.140.79.20
Connecting to www.city.kodaira.tokyo.jp (www.city.kodaira.tokyo.jp)|210.140.79.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 90639 (89K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘att_0000001.xlsx.1’

att_0000001.xlsx.1  100%[===================>]  88.51K  --.-KB/s    in 0.08s

2019-11-19 05:48:55 (1.12 MB/s) - ‘att_0000001.xlsx.1’ saved [90639/90639]

In [0]:
xls=pd.read_excel('att_0000001.xlsx.1',sheet_name=None,header=None)

In [206]:
xls

OrderedDict([('P13',
                                                0       1  ...     6          7
              0                         １．人　　　　　口     NaN  ...   NaN        NaN
              1                               NaN     NaN  ...   NaN        NaN
              2           ８．住 民 基 本 台 帳 人 口 の 推 移     NaN  ...   NaN        NaN
              3                               NaN     NaN  ...   NaN     各年１月１日
              4                             年　　　次   総　　　数  ...  1世帯当      人口増加率
              5                               NaN     NaN  ...  たり人口        （％）
              6                               NaN     NaN  ...   NaN        NaN
              7                              平成２年  157446  ...  2.57        0.9
              8                                 ３  159182  ...  2.54        1.1
              9                                 ４  161463  ...   2.5        1.4
              10                                ５  163603  ...  2.47        1.3
              11                                ６  164264  ...  2.46        0.4
              12                                ７  165177  ...  2.45        0.6
              13                                ８  167045  ...  2.43        1.1
              14                                ９  168408  ...  2.42        0.8
              15                               10  168714  ...   2.4        0.2
              16                               11  171021  ...  2.38        1.4
              17                              NaN     NaN  ...   NaN        NaN
              18                               12  171914  ...  2.36        0.5
              19                               13  172782  ...  2.34        0.5
              20                               14  174333  ...  2.32        0.9
              21                               15  175599  ...  2.31        0.7
              22                               16  175879  ...  2.29        0.2
              23                               17  176486  ...  2.28        0.3
              24                               18  176773  ...  2.26        0.2
              25                               19  177532  ...  2.25        0.4
              26                               20  178654  ...  2.23        0.6
              27                               21  179269  ...  2.21     　　　0.3
              28                              NaN     NaN  ...   NaN        NaN
              29                               22  179717  ...   2.2        0.2
              30                               23  179728  ...   2.2        0.0
              31                               24  180314  ...  2.19        0.3
              32                               25  185677  ...  2.17        2.9
              33                               26  186339  ...  2.17        0.4
              34                               27  186958  ...  2.16        0.3
              35                               28  188609  ...  2.14        0.9
              36                               29  189885  ...  2.13        0.7
              37                               30  191308  ...  2.12        0.7
              38                               31  193596  ...  2.11        1.2
              39                              NaN     NaN  ...   NaN        NaN
              40                              NaN     NaN  ...   NaN        NaN
              41                              NaN     NaN  ...   NaN        NaN
              42                              NaN     NaN  ...   NaN        NaN

              [43 rows x 8 columns]),
             ('P14.15',
                                0       1      2      3   ...    10     11         12           13
              0   ９．町　　　丁　　　別          NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              1                NaN     NaN    NaN    NaN  ...   NaN    NaN  平成31年１月１日          NaN
              2             町　　　　丁    人口総数      男      女  ...     女  世 帯 数    人 口 密 度       1世帯当たり
              3                NaN     NaN    NaN    NaN  ...   NaN    NaN      人 ／ ㎢         人　　口
              4                NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              5                 総数  193596  95312  98284  ...   NaN    NaN        NaN          NaN
              6                NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              7                中島町    1861    916    945  ...  2305   2627      13040         1.74
              8            上水新町１丁目    1518    741    777  ...  1948   1985      15152         1.91
              9            上水新町２丁目    1567    740    827  ...  1199   1149      12547         2.07
              10           上水新町３丁目    1545    752    793  ...  1200    990      12572         2.29
              11              たかの台    2011    976   1035  ...  1642   1679      15785         1.88
              12               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              13            小川町１丁目   18641   9293   9348  ...  1342   1392      12291         1.94
              14            小川町２丁目    5621   2872   2749  ...   889   1017      11863         1.87
              15             栄町１丁目     710    362    348  ...  4560   4402      10160         2.05
              16             栄町２丁目    1719    906    813  ...  1416   1473      18800         1.79
              17             栄町３丁目     894    438    456  ...   669    777      13230          1.7
              18               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              19           小川西町１丁目    1153    540    613  ...   788    820       4081         1.84
              20           小川西町２丁目    1662    806    856  ...  2572   2096       9798         2.48
              21           小川西町３丁目    1156    584    572  ...  1317   1175       4647         2.29
              22           小川西町４丁目    1573    753    820  ...  4891   4056      11425         2.39
              23           小川西町５丁目    2740   1305   1435  ...  3380   3002      12330         2.22
              24               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              25              小川東町    1543    743    800  ...  1290   1019      15694         2.46
              26           小川東町１丁目    3045   1539   1506  ...   774    776       9988         2.06
              27           小川東町２丁目    1237    548    689  ...   180    141       3700         2.36
              28           小川東町３丁目    1066    597    469  ...  1088    907      10105         2.34
              29           小川東町４丁目    1165    522    643  ...   838    735      12454          2.2
              30               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              31           小川東町５丁目    2835   1421   1414  ...   996    868       8346         2.31
              32           上水本町１丁目    1555    741    814  ...   369    301       4388         2.48
              33           上水本町２丁目    1028    484    544  ...   950    853       9395         2.31
              34           上水本町３丁目    1167    583    584  ...   267    197       3779         2.69
              35           上水本町４丁目    1438    728    710  ...   323    240       4831         2.62
              36               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              37           上水本町５丁目    3472   1714   1758  ...  1424   1086      16620          2.3
              38           上水本町６丁目    2456   1208   1248  ...  2617   2473       9294         2.03
              39           上水南町１丁目    2067    981   1086  ...  1106   1144      10785         1.89
              40           上水南町２丁目    2472   1239   1233  ...  1545   1401       8731         2.24
              41           上水南町３丁目    2866   1411   1455  ...  2198   2040      13658         2.08
              42               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              43           上水南町４丁目    1044    540    504  ...  1393   1356      11842          2.1
              44            喜平町1丁目    1752    869    883  ...  1320   1110       6238         2.25
              45            喜平町２丁目    1241    691    550  ...  1300   1102      10713         2.33
              46            喜平町３丁目    2766   1306   1460  ...  1623   1550      10665         2.13
              47            津田町１丁目    1000    483    517  ...  1049   1105       8321         1.81
              48               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              49            津田町２丁目    1471    663    808  ...  1383   1152      17613         2.45
              50            津田町３丁目    2532   1125   1407  ...   664    570       6419         2.36
              51               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN          NaN
              52               NaN     NaN    NaN    NaN  ...   NaN    NaN        NaN  資料：住民基本台帳人口

              [53 rows x 14 columns]),
             ('P16.17',
                                  0       1      2      3   ...      16     17     18           19
              0   10．月　　別　　人　　口          NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              1                  NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              2                 年次及び    総　　数      男      女  ...    総　　数      男      女          世帯数
              3                 月　　次     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              4                  NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              5                平成23年     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              6                   １月  179728  89289  90439  ...  189885  93657  96228        88967
              7                    ２  179687  89266  90421  ...  189975  93749  96226        88993
              8                    ３  179519  89176  90343  ...  189782  93682  96100        88791
              9                    ４  179412  89096  90316  ...  189955  93741  96214        89019
              10                   ５  179703  89174  90529  ...  190847  94206  96641        89857
              11                   ６  180012  89328  90684  ...  190954  94252  96702        89961
              12                   ７  180049  89345  90704  ...  191067  94286  96781        90017
              13                   ８  180037  89342  90695  ...  191278  94390  96888        90124
              14                   ９  180063  89354  90709  ...  191136  94331  96805        89992
              15                  10  180165  89402  90763  ...  191405  94489  96916        90233
              16                  11  180117  89369  90748  ...  191496  94526  96970        90269
              17                  12  180259  89442  90817  ...  191468  94528  96940        90233
              18                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              19                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              20               平成24年     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              21                  １月  180314  89449  90865  ...  191308  94397  96911        90166
              22                   ２  180297  89429  90868  ...  191291  94360  96931        90124
              23                   ３  180228  89398  90830  ...  191150  94307  96843        90015
              24                   ４  180759  89654  91105  ...  191064  94174  96890        90047
              25                   ５  181400  89894  91506  ...  192211  94728  97483        90952
              26                   ６  181371  89881  91490  ...  192584  94884  97700        91177
              27                   ７  181474  89928  91546  ...  192689  94937  97752        91214
              28                   ８  185211  91725  93486  ...  192949  95084  97865        91270
              29                   ９  185213  91736  93477  ...  192936  95069  97867        91165
              30                  10  185279  91758  93521  ...  193191  95147  98044        91371
              31                  11  185507  91872  93635  ...  193491  95291  98200        91590
              32                  12  185665  91971  93694  ...  193612  95331  98281        91625
              33                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
              34                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN  資料：住民基本台帳人口

              [35 rows x 20 columns]),
             ('P18.19',
                                  0    1            2   ...       26       27      28
              0      11．　人　　　　口　      NaN          NaN  ...      NaN      NaN     NaN
              1                  NaN  NaN          NaN  ...      NaN      NaN     NaN
              2                 年　　次  NaN  年　　間\n増 加 数  ...      NaN      NaN     NaN
              3                  NaN  NaN          NaN  ...      NaN      NaN     NaN
              4                  NaN  NaN          NaN  ...      NaN      NaN     NaN
              5                平成20年  NaN          493  ...      NaN      NaN     NaN
              6                   21  NaN          326  ...      NaN      NaN     NaN
              7                   22  NaN        △ 106  ...      NaN      NaN     NaN
              8                   23  NaN          487  ...      NaN      NaN     NaN
              9                   24  NaN        1,425  ...      NaN      NaN     NaN
              10                  25  NaN          806  ...      NaN      NaN     NaN
              11                  26  NaN          678  ...      NaN      NaN     NaN
              12                  27  NaN        1,716  ...      NaN      NaN     NaN
              13                  28  NaN        1,323  ...      NaN      NaN     NaN
              14                  29  NaN        1,401  ...      NaN      NaN     NaN
              15                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              16                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              17                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              18                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              19                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              20                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              21                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              22                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              23  12．年　齢　（　5　歳　階　     NaN          NaN  ...      NaN      NaN     NaN
              24                 NaN  NaN          NaN  ...      NaN      NaN  各年１月１日
              25                年　　次  NaN         総　　数  ...  80 ～ 84  85 ～ 89   90歳 ～
              26                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              27               27\n年   総数       186958  ...     6420     3704    1864
              28                 NaN    男        92231  ...     2683     1353     475
              29                 NaN    女        94727  ...     3737     2351    1389
              30                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              31                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              32               28\n年   総数       188609  ...     6875     3934    2009
              33                 NaN    男        93107  ...     2880     1414     531
              34                 NaN    女        95502  ...     3995     2520    1478
              35                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              36                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              37               29\n年   総数       189885  ...     7103     4161    2113
              38                 NaN    男        93657  ...     2935     1520     576
              39                 NaN    女        96228  ...     4168     2641    1537
              40                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              41                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              42               30\n年   総数       191308  ...     7319     4410    2316
              43                 NaN    男        94397  ...     3011     1617     624
              44                 NaN    女        96911  ...     4308     2793    1692
              45                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              46                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              47               31\n年   総数       193596  ...     7275     4682    2520
              48                 NaN    男        95312  ...     2982     1730     683
              49                 NaN    女        98284  ...     4293     2952    1837
              50                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              51                 NaN  NaN          NaN  ...      NaN      NaN     NaN
              52                 NaN  NaN          NaN  ...      NaN      NaN     NaN

              [53 rows x 29 columns]),
             ('P20.21',                            0   ...   21
              0         　　　　　13．外 国 人 住 民 数  ...  NaN
              1                         NaN  ...  NaN
              2                        年　　次  ...  NaN
              3                         NaN  ...  NaN
              4                         NaN  ...  NaN
              5                       平成22年  ...  NaN
              6                          23  ...  NaN
              7                          24  ...  NaN
              8                          25  ...  NaN
              9                          26  ...  NaN
              10                         27  ...  NaN
              11                         28  ...  NaN
              12                         29  ...  NaN
              13                         30  ...  NaN
              14                         31  ...  NaN
              15                        NaN  ...  NaN
              16                        NaN  ...  NaN
              17                        NaN  ...  NaN
              18                        NaN  ...  NaN
              19                        NaN  ...  NaN
              20  　　　　　14．国 勢 調 査 人 口 の 推 移  ...  NaN
              21                        NaN  ...  NaN
              22                        NaN  ...  NaN
              23                        年　次  ...  NaN
              24                        NaN  ...  NaN
              25                       大正９年  ...  NaN
              26                         14  ...  NaN
              27                       昭和５年  ...  NaN
              28                         10  ...  NaN
              29                         15  ...  NaN
              30                         20  ...  NaN
              31                         25  ...  NaN
              32                         30  ...  NaN
              33                         35  ...  NaN
              34                         40  ...  NaN
              35                         45  ...
              36                         50  ...  NaN
              37                         55  ...  NaN
              38                         60  ...  NaN
              39                       平成２年  ...  NaN
              40                          7  ...  NaN
              41                         12  ...  NaN
              42                         17  ...  NaN
              43                         22  ...  NaN
              44                         27  ...  NaN
              45                        NaN  ...  NaN
              46                        NaN  ...  NaN

              [47 rows x 22 columns]),
             ('P22.23',

In [207]:
xls['P13']

                                  0       1  ...     6          7
0                         １．人　　　　　口     NaN  ...   NaN        NaN
1                               NaN     NaN  ...   NaN        NaN
2           ８．住 民 基 本 台 帳 人 口 の 推 移     NaN  ...   NaN        NaN
3                               NaN     NaN  ...   NaN     各年１月１日
4                             年　　　次   総　　　数  ...  1世帯当      人口増加率
5                               NaN     NaN  ...  たり人口        （％）
6                               NaN     NaN  ...   NaN        NaN
7                              平成２年  157446  ...  2.57        0.9
8                                 ３  159182  ...  2.54        1.1
9                                 ４  161463  ...   2.5        1.4
10                                ５  163603  ...  2.47        1.3
11                                ６  164264  ...  2.46        0.4
12                                ７  165177  ...  2.45        0.6
13                                ８  167045  ...  2.43        1.1
14                                ９  168408  ...  2.42        0.8
15                               10  168714  ...   2.4        0.2
16                               11  171021  ...  2.38        1.4
17                              NaN     NaN  ...   NaN        NaN
18                               12  171914  ...  2.36        0.5
19                               13  172782  ...  2.34        0.5
20                               14  174333  ...  2.32        0.9
21                               15  175599  ...  2.31        0.7
22                               16  175879  ...  2.29        0.2
23                               17  176486  ...  2.28        0.3
24                               18  176773  ...  2.26        0.2
25                               19  177532  ...  2.25        0.4
26                               20  178654  ...  2.23        0.6
27                               21  179269  ...  2.21     　　　0.3
28                              NaN     NaN  ...   NaN        NaN
29                               22  179717  ...   2.2        0.2
30                               23  179728  ...   2.2        0.0
31                               24  180314  ...  2.19        0.3
32                               25  185677  ...  2.17        2.9
33                               26  186339  ...  2.17        0.4
34                               27  186958  ...  2.16        0.3
35                               28  188609  ...  2.14        0.9
36                               29  189885  ...  2.13        0.7
37                               30  191308  ...  2.12        0.7
38                               31  193596  ...  2.11        1.2
39                              NaN     NaN  ...   NaN        NaN
40                              NaN     NaN  ...   NaN        NaN
41                              NaN     NaN  ...   NaN        NaN
42                              NaN     NaN  ...   NaN        NaN

[43 rows x 8 columns]

In [212]:
xls['P14.15'][2:]

         0       1      2      3   ...    10     11       12           13
2    町　　　　丁    人口総数      男      女  ...     女  世 帯 数  人 口 密 度       1世帯当たり
3       NaN     NaN    NaN    NaN  ...   NaN    NaN    人 ／ ㎢         人　　口
4       NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
5        総数  193596  95312  98284  ...   NaN    NaN      NaN          NaN
6       NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
7       中島町    1861    916    945  ...  2305   2627    13040         1.74
8   上水新町１丁目    1518    741    777  ...  1948   1985    15152         1.91
9   上水新町２丁目    1567    740    827  ...  1199   1149    12547         2.07
10  上水新町３丁目    1545    752    793  ...  1200    990    12572         2.29
11     たかの台    2011    976   1035  ...  1642   1679    15785         1.88
12      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
13   小川町１丁目   18641   9293   9348  ...  1342   1392    12291         1.94
14   小川町２丁目    5621   2872   2749  ...   889   1017    11863         1.87
15    栄町１丁目     710    362    348  ...  4560   4402    10160         2.05
16    栄町２丁目    1719    906    813  ...  1416   1473    18800         1.79
17    栄町３丁目     894    438    456  ...   669    777    13230          1.7
18      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
19  小川西町１丁目    1153    540    613  ...   788    820     4081         1.84
20  小川西町２丁目    1662    806    856  ...  2572   2096     9798         2.48
21  小川西町３丁目    1156    584    572  ...  1317   1175     4647         2.29
22  小川西町４丁目    1573    753    820  ...  4891   4056    11425         2.39
23  小川西町５丁目    2740   1305   1435  ...  3380   3002    12330         2.22
24      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
25     小川東町    1543    743    800  ...  1290   1019    15694         2.46
26  小川東町１丁目    3045   1539   1506  ...   774    776     9988         2.06
27  小川東町２丁目    1237    548    689  ...   180    141     3700         2.36
28  小川東町３丁目    1066    597    469  ...  1088    907    10105         2.34
29  小川東町４丁目    1165    522    643  ...   838    735    12454          2.2
30      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
31  小川東町５丁目    2835   1421   1414  ...   996    868     8346         2.31
32  上水本町１丁目    1555    741    814  ...   369    301     4388         2.48
33  上水本町２丁目    1028    484    544  ...   950    853     9395         2.31
34  上水本町３丁目    1167    583    584  ...   267    197     3779         2.69
35  上水本町４丁目    1438    728    710  ...   323    240     4831         2.62
36      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
37  上水本町５丁目    3472   1714   1758  ...  1424   1086    16620          2.3
38  上水本町６丁目    2456   1208   1248  ...  2617   2473     9294         2.03
39  上水南町１丁目    2067    981   1086  ...  1106   1144    10785         1.89
40  上水南町２丁目    2472   1239   1233  ...  1545   1401     8731         2.24
41  上水南町３丁目    2866   1411   1455  ...  2198   2040    13658         2.08
42      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
43  上水南町４丁目    1044    540    504  ...  1393   1356    11842          2.1
44   喜平町1丁目    1752    869    883  ...  1320   1110     6238         2.25
45   喜平町２丁目    1241    691    550  ...  1300   1102    10713         2.33
46   喜平町３丁目    2766   1306   1460  ...  1623   1550    10665         2.13
47   津田町１丁目    1000    483    517  ...  1049   1105     8321         1.81
48      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
49   津田町２丁目    1471    663    808  ...  1383   1152    17613         2.45
50   津田町３丁目    2532   1125   1407  ...   664    570     6419         2.36
51      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN          NaN
52      NaN     NaN    NaN    NaN  ...   NaN    NaN      NaN  資料：住民基本台帳人口

[51 rows x 14 columns]

In [213]:
xls['P16.17']

                    0       1      2      3   ...      16     17     18           19
0   10．月　　別　　人　　口          NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
1                  NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
2                 年次及び    総　　数      男      女  ...    総　　数      男      女          世帯数
3                 月　　次     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
4                  NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
5                平成23年     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
6                   １月  179728  89289  90439  ...  189885  93657  96228        88967
7                    ２  179687  89266  90421  ...  189975  93749  96226        88993
8                    ３  179519  89176  90343  ...  189782  93682  96100        88791
9                    ４  179412  89096  90316  ...  189955  93741  96214        89019
10                   ５  179703  89174  90529  ...  190847  94206  96641        89857
11                   ６  180012  89328  90684  ...  190954  94252  96702        89961
12                   ７  180049  89345  90704  ...  191067  94286  96781        90017
13                   ８  180037  89342  90695  ...  191278  94390  96888        90124
14                   ９  180063  89354  90709  ...  191136  94331  96805        89992
15                  10  180165  89402  90763  ...  191405  94489  96916        90233
16                  11  180117  89369  90748  ...  191496  94526  96970        90269
17                  12  180259  89442  90817  ...  191468  94528  96940        90233
18                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
19                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
20               平成24年     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
21                  １月  180314  89449  90865  ...  191308  94397  96911        90166
22                   ２  180297  89429  90868  ...  191291  94360  96931        90124
23                   ３  180228  89398  90830  ...  191150  94307  96843        90015
24                   ４  180759  89654  91105  ...  191064  94174  96890        90047
25                   ５  181400  89894  91506  ...  192211  94728  97483        90952
26                   ６  181371  89881  91490  ...  192584  94884  97700        91177
27                   ７  181474  89928  91546  ...  192689  94937  97752        91214
28                   ８  185211  91725  93486  ...  192949  95084  97865        91270
29                   ９  185213  91736  93477  ...  192936  95069  97867        91165
30                  10  185279  91758  93521  ...  193191  95147  98044        91371
31                  11  185507  91872  93635  ...  193491  95291  98200        91590
32                  12  185665  91971  93694  ...  193612  95331  98281        91625
33                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN          NaN
34                 NaN     NaN    NaN    NaN  ...     NaN    NaN    NaN  資料：住民基本台帳人口

[35 rows x 20 columns]